@use 'style/variables.scss' as *;
@use 'style/breakpoints.scss' as *;

.loader {
  border: 5px solid $loader-background;
  border-top: 5px solid $loader-color;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
