@use 'style/variables.scss' as *;

.app {
  * {
    box-sizing: border-box;
  }
  color: $black;
  display: flex;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $background;
}
